@use 'themes' as *;
@use 'bootstrap/scss/bootstrap';
@use '@nebular/theme/styles/globals' as *;


@include nb-install() {
  @include nb-theme-global();// append the install mixin inside of the nb-install
} ;
nb-card{
  min-width: 490px;
  min-height: 300px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  align-items: center;
}
